@import url('https://fonts.googleapis.com/css?family=Roboto:300');

#efectos{
	text-align: center;
	color: #555;
	font-family: 'Roboto';
	font-weight: 300;
	font-size: 32px;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
	-webkit-transform: translate3d(0,0,0);
	background-image: url(../imagenes/ejemplocss.png);
	background-repeat: no-repeat;
	padding-left: 48px;
	line-height:45px;
}
#efectoshtml{
	text-align: center;
	color: #555;
	font-family: 'Roboto';
	font-weight: 300;
	font-size: 32px;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
	-webkit-transform: translate3d(0,0,0);
	background-image: url(../imagenes/ejemplocss.png);
	background-repeat: no-repeat;
	padding-left: 48px;
	line-height:45px;
}

#efectonuevo {
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
}

#efectonuevo:first-of-type {   
  animation: showup 7s infinite;
}

#efectonuevo:last-of-type {
  width:0px;
  animation: reveal 7s infinite;
}

#efectonuevodos:last-of-type span {
  margin-left:-355px;
  animation: slidein 7s infinite;
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slidein {
    0% { margin-left:-800px; }
    20% { margin-left:-800px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:355px;}
    80% {opacity:1;}
    100% {opacity:0;width:355px;}
}


p {
  font-size:12px;
  color:#999;
  margin-top:5px;
}
#imagenefecto
{
	float:left;}


#titulocss{
   width: 100%; 
   font-size: 50px;
   font-weight: bold;
   text-align: center;
   color: blueviolet;
   margin-bottom: 70px;
   text-decoration: red solid underline 6px;
}

.titulocsscolor{
    color:red;
    font-size: 2em;
    text-decoration: blueviolet solid underline 4px;
}

#csscolorrosa{
    color:rgb(227, 71, 162);
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding-top: 15px;
}

#csscolorfondo{
    background-color:rgb(16, 228, 16);
    width: 650px;
    margin: auto;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
}

#csscolorsubrayado{
    color:black;
    text-decoration: underline blue dashed 3px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-top: 15px;
}

#csscoloropacidad{
    color:rgb(4, 68, 1);
    opacity: 20%;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-top: 15px;
}

#csscolorshadow{
    text-shadow: 0 0 2px red, 0 0 3px blue, 0 0 4px yellow;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-top: 15px;
}

#csscolorondulado{
    color:black;
    text-decoration: underline rgb(211, 27, 190) wavy 3px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-top: 15px;
}

#csscolorredondeado{
    border: rgb(152, 9, 152) solid 3px;
    border-radius: 10px;
    width: 650px;
    margin: auto;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
}

#cssredondo{
    background: yellow;
    border-radius: 500px;
    width: 200px;
    margin: auto;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
}
#separador{
    border: blue solid 1px;
    width: 90%;
    margin: 20px 30px 0px 30px;
}

#csssubtitulo{
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin: 20px 0 20px 0;
    font-size: 40px;

    color: rgb(213, 45, 213);
}

#csstablas{
    width: 600px;
    margin: auto;
    text-align: center;
    padding-bottom: 20px;
}

tr td{
    padding: 10px;
}

.cssimagen1:hover {
    filter: grayscale(80%);
}

.cssimagen2:hover {
    filter: blur(5px);
}

.cssimagen3:hover {
    border-radius:50%;
    -webkit-border-radius:50%;
    box-shadow: 0px 0px 15px 15px #ec731e;
    -webkit-box-shadow: 0px 0px 15px 15px #ec731e;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}

.cssimagen4:hover {
    -webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
}

#cssdiv{
    width: 300px;
    height: 100px;
    background-color: rgb(219, 163, 224);
    border-radius: 10px;
    text-align: center;
    display: table-cell;
    align-items: center;
    vertical-align: middle;
}

.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}
.modalDialog > div {
	width: 600px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
  -webkit-transition: opacity 400ms ease-in;
-moz-transition: opacity 400ms ease-in;
transition: opacity 400ms ease-in;
}
.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}

#cssdiv a {
    color: red;
    font-weight: bold;
    text-decoration: none;
}

#cssdiv a:hover {
    color: black;
    font-weight: bold;
    text-decoration: underline rgb(229, 9, 93) dashed 2px;
    font-size: 25px;
}

#cssdiv:hover {
    background-color: aqua;
    border-radius: 20px 0 0 0;
}

#bordefectos {
    width: 80%;
    border: red 2px solid;
    text-align: center;
    margin: auto;

}